body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 100vh;
}
.hero-video{
    width: 100%;
    height: auto;
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
    justify-content: center;
    gap: 5%;
    list-style: none;
    width: 50%;
}
.nav-menu a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.nav-logo{
    width: 50px;
    height: 50px;
}